{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint","react-app", "plugin:jsx-a11y/recommended"],
    "extends": [
      "prettier",
      "airbnb",
      "airbnb/hooks",
      "prettier/react",
      "jsx-a11y",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended"
    ],
    "env": {
      "browser": true
    }
  }
  